.vertical-list li a,
.logoutButton {
  @apply flex gap-iconSpacing items-center;
}

.vertical-list li a p,
.logoutButton p {
  @apply hidden lg:flex;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #cdad8f,
    #fae1cb
  ); /* Define the gradient */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows through */
}

