@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gold1: '#CDAD8F';
  --gold2: '#FAE1CB';

  /* COLORS */
  --guestMainColor: #18223f;
  --guestButtonText: #0d1329;
  --guestSecondary1: #e8c4a2;
  --guestSecondary2: #f0ccaa;
  --guestSecondary3: #ffeddd;
  --textLight: #ffffff;
  --iconLight: #ffffff;
  --textDark: #000000;
  --iconDark: #000000;
  --mainColor1: #132863;
  --mainColor2: #021c63;
  --mainColor3: #3c57a4;
  --mainColor1Opacity: #132863e6;
  --mainColor2Opacity: #021c63e6;
  --mainColorPie: #616f96;
  --mainColorBar: #7391e1;
  --dangerColor: #b62424;
  --errorColor: #ee4646;
  --placeHolderColor: #b3b3b3;
  --cardColor: #d4ddf7;
  --tableText: #5f5f5f;
  --secondText: #5f5f5f;
  --tableBorder: #6e6e6e;
  --storageContainer: #f6f8ff;
  --whiteBackground: #f6f8ff;
  --secondaryColor1: #cdad8f;
  --secondaryColor2: #fae1cb;
  --lowColor: #930b0b;
  --highColor: #0b9318;

  /* SIZES */
  --horizontalNavHeight: 120px;
  --verticalNavWidth: 224px;
  --verticalNavSmallWidth: 100px;
  --guestNavHeight: 100px;

  /* RADIUS */
  --navsRadius: 40px;

  /* SPACING */
  --navsBodySpacing: var(--space-32);
  --searchBarTop: 96px;
  --activitySpace: 432px;
  --sectionPadding: var(--space-80);
  --sectionGap: var(--space-48);

  /* Font Sizes */
  --font-size-8: clamp(6px, 1.5vw + 1px, 8px);
  --font-size-10: clamp(8px, 1.5vw + 2px, 10px);
  --font-size-12: clamp(10px, 2vw + 1px, 12px);
  --font-size-14: clamp(12px, 2vw + 2px, 14px);
  --font-size-16: clamp(14px, 2vw + 3px, 16px);
  --font-size-18: clamp(16px, 2vw + 4px, 18px);
  --font-size-20: clamp(18px, 2vw + 5px, 20px);
  --font-size-22: clamp(20px, 2vw + 6px, 22px);
  --font-size-24: clamp(22px, 2vw + 7px, 24px);
  --font-size-26: clamp(22px, 2vw + 6px, 26px);
  --font-size-28: clamp(24px, 2vw + 8px, 28px);
  --font-size-30: clamp(24px, 2vw + 7px, 30px);
  --font-size-32: clamp(26px, 2vw + 9px, 32px);
  --font-size-36: clamp(28px, 2vw + 10px, 36px);
  --font-size-40: clamp(30px, 3vw + 10px, 40px);
  --font-size-42: clamp(30px, 3vw + 11px, 42px);
  --font-size-48: clamp(32px, 3vw + 12px, 48px);
  --font-size-56: clamp(36px, 4vw + 12px, 56px);
  --font-size-64: clamp(40px, 4vw + 14px, 64px);
  --font-size-72: clamp(44px, 5vw + 14px, 72px);
  --font-size-80: clamp(48px, 5vw + 16px, 80px);
  --font-size-96: clamp(56px, 6vw + 16px, 96px);
  --font-size-108: clamp(60px, 7vw + 18px, 108px);
  --font-size-120: clamp(64px, 8vw + 20px, 120px);
  --font-size-128: clamp(72px, 9vw + 22px, 128px);

  /* Spacing */
  --space-4: clamp(2px, 0.5vw, 4px);
  --space-8: clamp(6px, 1.5vw + 1px, 8px);
  --space-10: clamp(8px, 1.5vw + 2px, 10px);
  --space-12: clamp(10px, 2vw + 1px, 12px);
  --space-14: clamp(12px, 2vw + 2px, 14px);
  --space-16: clamp(14px, 2vw + 3px, 16px);
  --space-18: clamp(16px, 2vw + 4px, 18px);
  --space-20: clamp(18px, 2vw + 5px, 20px);
  --space-22: clamp(20px, 2vw + 6px, 22px);
  --space-24: clamp(22px, 2vw + 7px, 24px);
  --space-26: clamp(22px, 2vw + 6px, 26px);
  --space-28: clamp(24px, 2vw + 8px, 28px);
  --space-30: clamp(24px, 2vw + 7px, 30px);
  --space-32: clamp(26px, 2vw + 9px, 32px);
  --space-36: clamp(28px, 2vw + 10px, 36px);
  --space-40: clamp(30px, 3vw + 10px, 40px);
  --space-42: clamp(30px, 3vw + 11px, 42px);
  --space-48: clamp(32px, 3vw + 12px, 48px);
  --space-56: clamp(36px, 4vw + 12px, 56px);
  --space-64: clamp(40px, 4vw + 14px, 64px);
  --space-72: clamp(44px, 5vw + 14px, 72px);
  --space-80: clamp(48px, 5vw + 16px, 80px);
  --space-96: clamp(56px, 6vw + 16px, 96px);
  --space-108: clamp(60px, 7vw + 18px, 108px);
  --space-120: clamp(64px, 8vw + 20px, 120px);
  --space-128: clamp(72px, 9vw + 22px, 128px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --gold1: '#CDAD8F';
    --gold2: '#FAE1CB';
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.permissionsTable {
  @apply table-auto w-full min-w-[700px] border-collapse;
}

.permissionsTable tr td,
.permissionsTable tr th {
  @apply py-16px text-center mx-auto text-18px px-24px;
}

.permissionsTable tr:nth-of-type(odd) td {
  @apply bg-cardColor;
}

.activityTable {
  @apply table-auto w-full min-w-[700px] border-collapse;
}

.activityTable tr td,
.activityTable tr th {
  @apply py-16px text-center mx-auto text-18px px-24px;
}

.activityTable thead tr,
.activityTable tbody tr:not(:last-of-type) {
  @apply border-b-[1px] border-solid border-tableBorder;
}

.tableDiv {
  @apply w-full rounded-[32px] shadow-tableShadow overflow-x-auto min-w-[700px];
}

/* .tableDiv > div {
  @apply overflow-y-auto;
} */

.table {
  @apply table-auto w-full min-w-[700px] border-collapse;
}

.table thead {
  /* position: sticky to keep the header fixed */
}

.table tr td,
.table tr th {
  @apply py-24px text-center mx-auto text-tableText text-18px font-medium px-32px;
}

.table thead tr td,
.table thead tr th {
  @apply text-20px;
}

.table thead tr,
.table tbody tr:not(:last-of-type) {
  @apply border-b-[1px] border-solid border-tableBorder;
}

.table tbody tr:nth-of-type(even) {
  background-color: #ecf0ff;
}

.table thead tr td {
  @apply text-blue1 font-bold;
}

.table tbody tr {
  @apply py-40px font-medium text-18px rounded-[32px];
}

.showMore {
  @apply border-t-[1px] border-solid border-tableBorder;
}

.table-wrapper {
  max-height: auto; /* Set a max-height for the scrollable container */
  overflow-y: auto; /* Allow vertical scrolling */
}

input[type='submit'] {
  @apply cursor-pointer;
}

.linearMainText {
  @apply bg-mainDashboardLinear;

  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows through */
}

.linearGuestText {
  @apply bg-goldText;

  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows through */
}

.linearGuestText2 {
  @apply bg-goldLinear;

  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows through */
}

.minHeightSection {
  @apply min-h-[calc(100vh-var(--guestNavHeight))];
}

.minHeightFormSection {
  @apply min-h-[calc(100vh-var(--guestNavHeight)-80px)];
}

.box2 {
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.box3 {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.flt_svg {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}

.box_parent {
  filter: url('#flt_tag');
}

.custom-blur::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(1000px); /* Custom blur effect */
  z-index: -1; /* Place it behind the content */
  border-radius: inherit; /* Optional: inherit border radius if the parent has one */
}

.bg-multi-gradient {
  position: relative;
  background-image: radial-gradient(
      circle,
      rgba(10, 122, 191, 1) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    radial-gradient(circle, rgba(15, 15, 15, 1) 0%, rgba(21, 21, 21, 0) 100%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: overlay;
}

.gradient-borders {
  position: relative;
}

.gradient-borders-absolute {
  position: absolute;
}

.gradient-borders::before,
.gradient-borders-absolute::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  z-index: -1;
  background: linear-gradient(
    to right,
    var(--secondaryColor1),
    var(--secondaryColor1),
    var(--secondaryColor2)
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.textLayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-family: sans-serif;
  line-height: 1;
  opacity: 0.8;
}

/* ul {
  padding-left: 20px;
}
li {
  list-style-type: disc;
} */

input:disabled,
textarea:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.reset-to-native * {
  all: revert; /* Removes all custom styles */
}

.text-28px {
  font-size: var(--font-size-28);
}

