@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gold1: '#CDAD8F';
  --gold2: '#FAE1CB';

  /* COLORS */
  --guestMainColor: #18223f;
  --guestButtonText: #0d1329;
  --guestSecondary1: #e8c4a2;
  --guestSecondary2: #f0ccaa;
  --guestSecondary3: #ffeddd;
  --textLight: #ffffff;
  --iconLight: #ffffff;
  --textDark: #000000;
  --iconDark: #000000;
  --mainColor1: #132863;
  --mainColor2: #021c63;
  --mainColor3: #3c57a4;
  --mainColor1Opacity: #132863e6;
  --mainColor2Opacity: #021c63e6;
  --mainColorPie: #616f96;
  --mainColorBar: #7391e1;
  --dangerColor: #b62424;
  --errorColor: #ee4646;
  --placeHolderColor: #b3b3b3;
  --cardColor: #d4ddf7;
  --tableText: #5f5f5f;
  --secondText: #5f5f5f;
  --tableBorder: #6e6e6e;
  --storageContainer: #f6f8ff;
  --whiteBackground: #f6f8ff;
  --secondaryColor1: #cdad8f;
  --secondaryColor2: #fae1cb;
  --lowColor: #930b0b;
  --highColor: #0b9318;

  /* SIZES */
  --horizontalNavHeight: 104px;
  --verticalNavWidth: 224px;
  --verticalNavSmallWidth: 100px;
  --guestNavHeight: 100px;

  /* RADIUS */
  --navsRadius: 40px;

  /* SPACING */
  --navsBodySpacing: 32px;
  --searchBarTop: 96px;
  --activitySpace: 432px;
  --sectionPadding: 80px;
  --sectionGap: 48px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --gold1: '#CDAD8F';
    --gold2: '#FAE1CB';
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.permissionsTable {
  @apply table-auto w-full min-w-[700px] border-collapse;
}

.permissionsTable tr td,
.permissionsTable tr th {
  @apply py-[16px] text-center mx-auto text-[18px] px-[24px];
}

.permissionsTable tr:nth-of-type(odd) td {
  @apply bg-cardColor;
}

.activityTable {
  @apply table-auto w-full min-w-[700px] border-collapse;
}

.activityTable tr td,
.activityTable tr th {
  @apply py-[16px] text-center mx-auto text-[18px] px-[24px];
}

.activityTable thead tr,
.activityTable tbody tr:not(:last-of-type) {
  @apply border-b-[1px] border-solid border-tableBorder;
}

.table {
  @apply table-auto w-full min-w-[700px] border-collapse;
}

.table tr td,
.table tr th {
  @apply py-[40px] text-center mx-auto text-tableText text-[18px] font-medium px-[32px];
}

.table thead tr,
.table tbody tr {
  @apply border-b-[1px] border-solid border-tableBorder;
}

.table thead tr td {
  @apply text-blue1 font-bold;
}

.table tbody tr {
  @apply py-[40px] font-medium text-[18px] rounded-[32px];
}

input[type='submit'] {
  @apply cursor-pointer;
}

.linearMainText {
  @apply bg-mainDashboardLinear;

  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows through */
}

.linearGuestText {
  @apply bg-goldText;

  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows through */
}

.linearGuestText2 {
  @apply bg-goldLinear;

  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent so the background shows through */
}

.minHeightSection {
  @apply min-h-[calc(100vh-var(--guestNavHeight))];
}

.minHeightFormSection {
  @apply min-h-[calc(100vh-var(--guestNavHeight)-80px)];
}

.box2 {
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.box3 {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.flt_svg {
  visibility: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
}

.box_parent {
  filter: url('#flt_tag');
}

.custom-blur::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(100px); /* Custom blur effect */
  z-index: -1; /* Place it behind the content */
  border-radius: inherit; /* Optional: inherit border radius if the parent has one */
}

.bg-multi-gradient {
  position: relative;
  background-image: radial-gradient(
      circle,
      rgba(10, 122, 191, 1) 0%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    radial-gradient(circle, rgba(15, 15, 15, 1) 0%, rgba(21, 21, 21, 0) 100%),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: overlay;
}

.gradient-borders {
  position: relative;
}

.gradient-borders-absolute {
  position: absolute;
}

.gradient-borders::before,
.gradient-borders-absolute::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  z-index: -1;
  background: linear-gradient(
    to right,
    var(--secondaryColor1),
    var(--secondaryColor1),
    var(--secondaryColor2)
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.textLayer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  font-family: sans-serif;
  line-height: 1;
  opacity: 0.8;
}

/* ul {
  padding-left: 20px;
}
li {
  list-style-type: disc;
} */

input:disabled,
button:disabled {
  cursor: not-allowed;
}

.reset-to-native * {
  all: revert; /* Removes all custom styles */
}

